version = 3
server_host = 127.0.0.1
server_port = 389
timeout = 60
search_base = cn=Users,{{  samba_base_dn  }}
query_filter = (|(mail=%s)(|(proxyAddresses=smtp:%s)(proxyAddresses=SMTP:%s)))
result_attribute = mailNickname
bind = yes
bind_dn = cn=Administrator,cn=Users,{{  samba_base_dn  }}
bind_pw = {{ samba_adminpass }}
