smtpd_banner = \$myhostname ESMTP ePigeon (SOGo)
biff = no
readme_directory = no

# TLS parameters
smtpd_tls_cert_file = /etc/ssl/{{  ext_hostname  }}.crt
smtpd_tls_key_file = /etc/ssl/{{ ext_hostname  }}.key
smtpd_tls_CAfile = /etc/ssl/ca.crt
smtpd_use_tls = yes
smtpd_tls_session_cache_database = btree:\${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:\${data_directory}/smtp_scache

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

append_dot_mydomain = no
append_at_myorigin = yes
myhostname = {{ ext_hostname }}
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = {{ postfix_myorigin }}
mydestination = localhost
{% set networks = '127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128' %}
{% set networks = networks + ' ' + ansible_eth0["ipv4"]["address"] + '/32' %}
{% set networks = networks + ' ' + postfix_mynetworks|join(' ') %}
mynetworks = {{ networks }}
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
virtual_alias_maps = ldap:/etc/postfix/aliases.ldap
relay_transport = ldap:/etc/postfix/people.ldap
smtpd_sasl_auth_enable = yes
smtpd_tls_auth_only = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_authenticated_header = no
smtpd_sasl_security_options = noanonymous
smtpd_sasl_local_domain =
broken_sasl_auth_clients = no
smtpd_recipient_restrictions = permit_mynetworks, permit_sasl_authenticated, reject_unauth_destination
smtpd_sender_restrictions =
mailbox_command =
smtpd_tls_received_header = no
smtpd_tls_mandatory_protocols = SSLv3, TLSv1
smtpd_tls_mandatory_ciphers = medium
tls_random_source = dev:/dev/urandom

dovecot_destination_recipient_limit = 1
virtual_mailbox_domains = {{  postfix_virtual_domains|join(' ')  }}
virtual_transport = dovecot

relayhost = sr101.firestorm.ch:587
smtp_use_tls = yes
smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:/etc/postfix/smtp_passwords
smtp_sasl_security_options = noanonymous

message_size_limit = 20480000
